.cd-timeline-start {
    min-width: 50%;
}

.cd-timeline-img span {
    color: red;
}

.red-bold-text { 
    color: red;
    font-weight: 600;
}

#timeline  {
    background-color: rgba(255, 255, 255, 0.767);
    padding-top: 20px;
    padding-bottom: 20px;
}

#main_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 0;
}

#mission-statement {
    padding: 0 10vw 10vh 10vw;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

#mission-statement p {
    font-size: 2em;
    font-weight: 200;
    line-height: 3.5rem;
}

.events-header {
    background-image: url("../images/assets_in_use/main-image.png");
    z-index: -1;
    background-size: cover;
}

.events-header h1{
    color: white;
}


#companies {
    margin-top: 10px;
}

#events-section {
    background-color: black;
}

/* Makes calendar iframe responsive */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 400px;
}

/* Makes calendar iframe responsive */
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
}

.port-img-overlay {
    border-radius: 50%;
    margin-bottom: 20px;
    height: 80%;
    width: 80%;
    margin-left: 10%;
}

.port-img-overlay-sq {
    opacity: .3;
}

.port-img-overlay-sq:hover {
    opacity: 1;
}

#home-img-cols {
    background-color: rgb(218, 165, 32);
    border-radius: 2%;
    text-align: center;
    color: rgb(4, 95, 4);
    padding-bottom: 15px;
}

#home-img-cols hr{
    border-top-width: 2px;
}

#home-img-cols i{
    color: #C0C0C0;
}

#row-of-imgs-main {
    padding-bottom: 2vh;
}

#podcast-body {
    margin-top: -8%;
}