#main_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 0;
}

#mission-statement {
    padding: 0 10vw 10vh 10vw;
    /* height: 60vh; */
    margin-top: 5%;
    margin-bottom: 5%;
    
}

#mission-statement p {
    font-size: 2em;
    font-weight: 200;
    line-height: 3.5rem;
}

#events-header {
    background-image: url("../images/assets_in_use/main-image.png");
    z-index: -1;
    background-size: cover;

}

#events-header h1{
    z-index: 1000;
    color: whitesmoke;
}